<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bikcraft - Portfolio - Discover our client portfolio
  </title>
  <meta name="description" content="Discover our portfolio of clients we love so much!">

  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Bikcraft - Portfolio - Discover our client portfolio "/>
  <meta property="og:description" content="Discover our portfolio of clients we love so much!"/>
  <meta property="og:url" content="http://devmagno.github.io/bikcraft/portfolio.html"/>
  <meta property="og:image" content="http://devmagno.github.io/bikcraft/img/og-image.png"/>
  <meta property="og:site_name" content="Bikcraft"/>
  
  <script src="https://kit.fontawesome.com/77daa57238.js" crossorigin="anonymous"></script>

  <meta name="theme-color" content="#FEC63E">

  <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="../css/style.css">
  <script>document.documentElement.classList.add("js")</script>
<link rel="stylesheet" type="text/css" href="../css/jquery.convform.css">
<script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../js/jquery.convform.js"></script>
<script type="text/javascript" src="../js/custom.js"></script>
</head>
<body>
<!-- ChatBot -->
<div class="chat_icon">
	<i class="fa fa-comments" aria-hidden="true"></i>
</div>
<div class="chat_box">
	<div class="my-conv-form-wrapper">
		<form action="" method="GET" class="hidden">

      <select data-conv-question="Hello! Are you intrested in Handcrafted Cycles" name="category">
        <option value="Yes">Yes?</option>
        <option value="No">No?</option>
      </select>

      <div data-conv-fork="category">
        <div data-conv-case="Yes">
          <input type="text" name="domainName" data-conv-question="Please, tell me your Favourite type of Bicycle">
	  <input type="text" name="name" data-conv-question="Please, Enter your name">

      <input type="text" data-conv-question="Hi {name}, <br> It's a pleasure to meet you." data-no-answer="true">

      <input data-conv-question="Enter your e-mail" data-pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" type="email" name="email" required placeholder="What's your e-mail?">

      <select data-conv-question="Please Confirm">
        <option value="Yes">Confirm</option>
      </select>	    
        </div>
        <div data-conv-case="No" data-conv-fork="first-question2">
          <input type="text" name="companyName" data-conv-question="Thank you for visiting our website"> 
        </div>
      </div>

  	</form>
	</div>
</div>
  <header class="header">
    <div class="container">
      <a href="../index.html" class="grid-2">
        <img src="../img/bikcraft.svg" alt="Bikcraft">
      </a>
      <nav class="header_menu grid-14">
        <ul>
          <li><a href="about.html">About</a></li>
          <li><a href="products.html">Products</a></li>
          <li><a href="portfolio.html" class="menu_active">Portfolio</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="internal-intro internal-portfolio">
    <div class="container">
      <h1 data-anime="400" class="fadeInDown">Portfolio</h1>
      <p data-anime="800" class="fadeInDown">Discover the projects we love to show</p>
    </div>
  </section>

  <section class="container fadeInDown" data-anime="1000" data-slide="quote">
    <blockquote class="costumer_quote">
      <p>“Cycling has always been my passion, what the people at Bikcraft did was to intensify my love for this activity. I recommend it to everyone I love. ”
      </p>
      <cite>Barbara Moss</cite>
    </blockquote>
    <blockquote class="costumer_quote">
      <p>“Nothing better than going for a walk with my Bikcraft on the shore. This is my most faithful companion, he never betrayed me and is always at my disposal.”</p>
      <cite>Jhony Rato</cite>
    </blockquote>
    <blockquote class="costumer_quote">
      <p>“Those who do not yet own a Bikcraft, do not know what they are missing. The precision is absurd and the speed is transcendental. Never life like that.”</p>
      <cite>Bernardo Ribeiro</cite>
    </blockquote>
  </section>
  


  <section class="portfolio">
    <div class="container fadeInLeft" data-anime="1200" data-slide="portfolio">
      <ul class="portfolio_items">
        <li class="grid-8">
          <img src="../img/portfolio/retro.jpg" alt="Bicicleta no estilo retrô">
        </li>
        <li class="grid-8">
          <img src="../img/portfolio/passeio.jpg" alt="Bicicleta de passeio">
        </li>
        <li class="grid-16">
          <img src="../img/portfolio/esporte.jpg" alt="Bicicleta esportiva">
        </li>
      </ul>
      <ul class="portfolio_items">
        <li class="grid-8">
          <img src="../img/portfolio/passeio.jpg" alt="Bicicleta de passeio">
        </li>
        <li class="grid-8">
          <img src="../img/portfolio/retro.jpg" alt="Bicicleta no estilo retrô">
        </li>
        <li class="grid-16">
          <img src="../img/portfolio/esporte.jpg" alt="Bicicleta esportiva">
        </li>
      </ul>
    </div>
  </section>

  <section class="break">
    <blockquote class="external-quote container">
    <p>"The real secret of happiness lies in having a genuine interest in all the details of everyday life."</p>
    <cite>William Morris</cite>
    </blockquote>
  </section>
  <footer>
    <div class="footer-black">
      <div class="container">
        <div class="grid-8 footer_history">
          <h3>Our History</h3>
          <p>
            When we started Bikcraft we just wanted a product that we would love to use. We were passionate about cycling and also doing things with our own hands. So a dream arose in the garage of our house.
          </p>
        </div>

        <div class="grid-4 footer_contact">
          <h3>Contact</h3>
          <ul>
            <li>- +91 9999-9999</li>
            <li>- contact@bikcraft.com</li>
            <li>- Delhi, INDIA</li>
          </ul>
        </div>

        <div class="grid-4 footer_social">
          <h3>Social Networks</h3>
          <ul>
            <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="container">
        <p class="grid-16 copy-text">Bikcraft 2021 - Some rights reserved.</p>
      </div>
    </div>
  </footer>

  <script src="../js/simple-slide.js"></script>
  <script src="../js/simple-anime.js"></script>
  <script src="../js/script.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180193644-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-180193644-1');
  </script>
</body>
</html>